:root {
    --text-red: #f56c6c;
    --text-drak-black: #333;
    --text-light-black: #666;
    --text-white: #fff;
    --text-light-gray: #999;

    --bg-white: #fff;
    --bg-light-gray: #ccc;
    --bg-gray: #b3c0d1;
    --bg-black: rgb(84, 92, 100);

    --border-gray: #ccc;

    --dark-blue: #409eff;
    --shodow-black: #32363f;
}
