* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  -webkit-overflow-scrolling: touch;
}
*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

@import "./mixins.scss";

html,
body {
  @include fullBox;
  color: #666;
  min-width: 1390px;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  @include fullBox;
  @include flexBox($direction: column, $overflow: hidden);
}
