.el-table td,
.el-table th.is-leaf,
.el-table--border,
.el-table--group {
    border-color: var(--border-gray) !important; //#d5dae2;
}
.el-table--border th {
    border-bottom-color: var(--border-gray) !important;
}
.el-table--border th,
.el-table--border td {
    border-right-color: var(--border-gray) !important;
}
.el-table--border {
    border-left: 1px solid var(--border-gray) !important;
}
.el-table--border::after,
.el-table--group::after,
.el-table::before {
    background-color: var(--border-gray) !important; //#d5dae2;
}

.el-dialog {
    margin-top: 10vh !important;
    min-width: 600px;
}
.el-dialog__body {
    padding: 10px 10px;
}
.el-input.is-disabled .el-input__inner {
    color: var(--text-light-gray);
}
.innerDialog {
    &[data-title-center] {
        .el-dialog__header {
            text-align: center;
        }
    }
    .el-dialog {
        margin-top: 15vh !important;
    }
}
.el-menu--collapse > div > .el-submenu > .el-submenu__title span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block;
}
.el-menu--collapse > div > .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}
.el-menu-vertical-demo {
    width: 100%;
}
.el-menu.el-menu--horizontal {
    border-bottom: none;
}
.el-table {
    @mixin cellSpan($color) {
        .cell > span {
            color: $color;
        }
    }
    .warning-row {
        background: oldlace;
    }
    .success-row {
        background: #f0f9eb;
    }
    .danger-row-span {
        @include cellSpan(#f56c6c);
    }
    .primary-row-span {
        @include cellSpan(#409eff);
    }
    .info-row-span {
        @include cellSpan(#909399);
    }
}

.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
    background-color: var(--dark-blue);
    border-color: var(--dark-blue);
}
.record_dialog {
    box-sizing: border-box;
    .el-dialog {
        width: 96vw;
        height: 90vh;
        margin-top: 5vh !important;
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        .el-dialog__body {
            flex: 1;
            height: 0;
        }
    }
}
